h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}
p {
    font-size : 20px;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 4px;
}
a {
    text-decoration: none;
    color:black;
}
h4{
  text-decoration-color: slateblue;
}
